*{
    padding: 0;
    margin: 0;
}

body, html{
    width: 215vh;
}
.column{
    display: flex;
    flex-direction: column;
}

.padding-10{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.box{
    background-color: rgb(255,255,240);
    box-shadow: 6px 10px 12px 3px rgba(46, 11, 29, 0.21);
    border-radius: 1.4rem;
    margin-left: 4%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    width: 11%;
    height: 11%;
}

.row {
    display: flex;
    flex-direction: row;
}

.margindesign{
    margin-left: 10%;
    margin-right: 10%;
}

.circle{
    width: 35px;
    height: 35px;
    background-color: #406d91;
    border-radius: 50%; 
    
}

.audio{
    position: absolute;
    z-index: 100;
    right: 32px;
    bottom: 32px;
    display: block;
    padding: 20px;
    cursor: pointer;
    border-radius: 24px;
    background: #ff886c;
}

.icn-play{
    display: block;
    width: 24px;
    height: 24px;
    background: url(https://www.nhk.or.jp/lesson/assets/images/icn_speaker.png) no-repeat center center/100%;
    background-size: 100%;
}
